@import "./variable";
@import "./UI";

.content {
    width: 80%;
    margin: 20px auto;

    &__header-container {
        display: grid;
        grid-template-columns: 34% 10% 10% 7% 12% 15% 12%;
        position: sticky;
        top: 0;
        z-index: 10;
        text-align: center;
        min-height: 60px;
        align-items: center;
        padding: 10px;
        border: 1px solid #e4e4e4;
        border-radius: 2px;
        color: #fff;
        border-left: 10px solid $dark-blue;
        background: linear-gradient(125deg, $dark-blue, $blue);
        font-size: 15px;
        font-weight: 500;
    }
}
.empty {
    text-align: center;
    &__img {
        width: 30%;
        height: fit-content;
        margin: 10% 0;
    }
}
.options {
    width: 120px;
    margin: 5px 0;
}

.scroll-to-top {
    position: fixed;
    z-index: 1000;
    bottom: 15px;
    right: clamp(20px, 5%, 80px);
    cursor: pointer;

    &__img {
        fill: $slate;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 30px;

        &__header-container {
            display: none;
        }
    }
}

@media only screen and (max-width: 480px) {
    .content {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        width: 90%;
    }
    .btn {
        font-size: 12px;
    }
}
